*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: montserrat, sans-serif;
    
}

main{
    width: 100%;
    height: 100vh;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 90vh;
    background: #fff;
    padding: 0 12%;
    align-items: center;
    justify-content: center;
    
}

.header-container{
   width: 90%;
   display: flex;
   justify-content: center;
   align-items: center;
}

nav{
    height: 80px;
    width: 100%;
    padding: 0 8%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo img{
   height: 110px;
   margin-left: 50px;
   padding-top: 5px;
}

label.logo {
    color: #F9AB10;
    font-size: 2rem;
    line-height: 80px;
    padding: 0 3rem;
    font-weight: bold;
 }

 nav ul{
    float: right;
    margin-right: 1.2rem;
 }

 nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 0.5rem;
 }

 nav ul li a{
    color: #063941;
    font-size: 1.1rem;
    text-transform: uppercase;
    padding: 0.5rem 0.8rem;
    border-radius: 3px;
 }

 a.active,a:hover{
    background: #F9AB10;
    transition: .5s;
 }

 .checkbtn{
    font-size: 30px;
    color: #063941;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
 }

 #check{
    display: none;
 }

 .textbox{
    max-width: 400px;
    display: flex;
    flex-flow: column;
    justify-content: center;
 }

 .header__title{
    font-size: 2rem;
    font-weight: 500;
    color: #063941;
    margin-bottom: 20px;

 }

 .header__text{
    margin-bottom: 30px;
    font-size: 1.1rem;
    color: #657575;
 }

 .header__btn{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 6px;
    background-color: #063941;
    font-size: 1.1rem;
    border: none;
 }
 
 .header__btn a{
    color: #fff;
 }

 .textbox a{
    display: inline-block;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
 }

 .header__pic{
    position: absolute;
    top: 0;
    right: 15%;
 }

 .header__pic img{
    display: block;
    padding-top: 9rem;
    max-width: 450px;
    height: auto;
 }


 .pillars{
   background-color: #f5f5f5;
 }


 .pillars__container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 8%;
 }

 .box{
    width: 25%;
    padding: 1rem;
    min-height:200px;
 }

 .box-1,
 .box-2,
 .box-3{
    align-items: center;
    justify-content: center;
    text-align: center;
 }

 .pbox_content{
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
 }

 .pbox_content img{
    width: 73px;
    padding-bottom: 15px;
 }

 .pbox_content h3{
    padding-bottom: 10px;
 }

 .pbox_content p{
    color: #657575;
    font-size: 0.9rem;
 }

 .showcase-titles{
    width: 100%;
    padding: 2rem 0;
    text-align: center;
    display: inline-block;
    background-color: #f5f5f5;
 }

 .small-title h3{
    font-size: 1rem;
    padding-bottom: 1rem;
    font-weight: 500;
    color: #07C5B5;
 }

 .large-title h2{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-weight: 500;
    color: #063941;
 }

 .title-content p{
    font-size: 1rem;
    padding-bottom: 2rem;
    color: #657575;
 }

 .screens-container{
   padding: 0 12%;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #f5f5f5;
 }

 .screens{
   
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-direction: column;
   text-align: center;
   
 }

 .screens img{
   height: 100%;
   width: auto;
   padding-bottom: 20px;
 }

 .screens h3{
   font-size: 1rem;
   font-weight: 500;
   color: #07C5B5;
 }

 .screens p{
   width: 200px;
   margin: 10px 0;
   font-size: 15px;
   padding-bottom: 20px;
 }

 
 .app-showcase{
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0 8%;
    margin-bottom: 30px;
   
 }

.app-showcase h3{
    font-size: 1rem;
    font-weight: 500;
    color: #07C5B5;
    text-align: center;
    margin-top: 1rem;
}

.app-showcase p{
    display: inline-block;
    padding: 0 1rem;
    text-align: center;
    font-size: 1rem;
    margin: 1rem;
    color: #657575;
}
.app-showcase img{
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    
}

 .owl-Carousel{
    position: absolute;
    width: 100%;
    padding: 0 8%;
    
 }

 .download-tabs{
    width: 100%;
    height: 230px;
    background-color: #07C5B5;
    margin-left: auto;
    margin-right: auto;
 }
 .download-title h2{
    font-size: 1.3rem;
    padding: 1.3rem 0;
    font-weight: 500;
    color: #063941;
    text-align: center;
 }

 .download-content p{
    align-items: center;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    padding-bottom: 1.5rem;
 }

 .download-tabs .buttons{
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    border-radius: 6px;
    background-color: #063941;
    font-size: 1.1rem;
 }

 .why-us{
    display: flex;
    padding: 0 11%;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    background-color: #f5f5f5;
    
 }

 .testimonials__pic img{
    max-width: 350px;
 }
 .testimonials p{
    max-width: 350px;
    font-size: 1rem;
    color: #657575;
    font-size: 0.9rem;
    
 }

 .testimonials-p2{
    color: #657575;
    text-align: right;
 }

 .testimonials-p2 p{
   max-width: 350px;
   font-size: 1rem;
   margin-left: auto;
   font-size: 0.9rem;
 }

 .Merchant-signup{
    background-color: #F9AB10;
    width: 100%;
    height: 30%;
 }

 .merchant-title h2{
    text-align: center;
    padding-top: 2rem;
 }
 .merchant-content h3{
    text-align: center;
    margin: 1.3rem;
    font-size: 1.2rem;
    font-weight: 500;
 }
 
 .btn{
    text-align: center;
 }
 
 .btn button{
    
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    background-color: #063941;
    font-size: 1.1rem;
    color: #fff;
    border: none;
    cursor: pointer;
 }

 .partners-container{
   background-color: #f5f5f5;
 }

 .our-partners{
    align-items: center;
    justify-content: center;
 }

 .our-partners img{
    display: block;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;
    align-items: center;

 }

 .partner-call{
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
    font-weight: 500;
    color: #07C5B5;
    text-align: center;
    padding-top: 1rem;
 }



 footer .container{
    background-color: #063941;
 }

 .footer-logo{
   display: inline-block;
   padding: 0 100px;
 }

 .footer-logo img{
   max-height: 120px;
 }

 .row-f{
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    color: #fff;
 }

 .footer-col ul{
    list-style: none;
 }

 .footer-col h4{
    color: #fff;
    margin-bottom: 25px;
    font-size: 22px;
    position: relative;
 }

 .footer-col h4::before{
    content: '';
    width: 70px;
    height: 2px;
    position: absolute;
    background-color: #F9AB10;
    margin-top: 30px;
 }

 .footer-col ul li{
    padding: 10px 0;
 }

 .footer-col ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    opacity: 0.7;
    transition: 0.5s;
 }

 .footer-col ul li a:hover{
    opacity: 1;
 }
 .footer-col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px 0;
 }

 .footer-col ul .inputsubmit{
    padding: 0px 20px;
    background-color: #F9AB10;
    border: none;
    color: #fff;
 }

 .footer-col p{
   width: 250px;
 }












 
 

 

 @media (max-width: 952px){
    label.logo{
        font-size: 1.8rem;
        padding-left: 3.1rem;
    }
    nav ul li a{
        font-size: 1rem;
    }
 }

 @media (max-width: 852px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #063941;
        color: #fff;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #F9AB10;
    }
    #check:checked ~ ul{
        left: 0;
    }
 }











